---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Player from '../Player.astro';
import Playlist from '../Playlist.astro';
---

<Layout title="Borufi">
	<main>
		<!-- <Playlist /> -->
		<h1><span class="text-gradient">Borufi</span></h1>
		<ul role="list" class="link-card-grid">
			<Card
			img="https://picsum.photos/1000/1000?random=1"
			source=''
			title="Song 1"
			author="bor"
			/>
			<Card
			img="https://picsum.photos/1000/1000?random=2"
			source='kebsonken.mp3'
			title="Song 2"
			author="uwa"
			/>
			<Card
			img="https://picsum.photos/1000/1000?random=3"
			source='vocal_ns.wav'
			title="Song 3"
			author="bor"
			/>
			<Card
			img="https://picsum.photos/1000/1000?random=4"
			source='lyr.mp3'
			title="Song 4"
			author="uwa"
			/>
			</ul>
		</main>
	<Player />
</Layout>

<script>
	
</script>

<style>
	body{
		margin: 0;
	}
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1rem;
		font-size: 20px;
		margin-bottom: 15vh;
	}
	/* main > *{
		display: none;
	} */
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(18ch, 1fr));
		justify-items: center;
		gap: 2ch;
		padding: 0;
	}
</style>
