---
import Layout from '../layouts/Layout.astro';
import Cards from '../components/Card.astro';
import Player from '../player/Player.astro';
import Playlist from '../playlist/Playlist.astro';
// import { ViewTransitions } from "astro:transitions";
---

<Layout title="Borufi">
	<Playlist />
	<head>
		<main id="main">
			<h1><span class="text-gradient">Borufi</span></h1>
			<ul role="list" class="link-card-grid" id="playlistsList">
				<Cards />
			</ul>
		</main>
		<!-- <ViewTransitions /> -->
	</head>
	<Player />
</Layout>
<style>
	body{
		margin: 0;
	}
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1rem;
		font-size: 20px;
		margin-bottom: 15vh;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 5rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: linear-gradient(
			to bottom right,
			rgba(131, 29, 29, 1),
			rgba(99, 175, 226, 1)
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
		justify-items: center;
		gap: 3ch;
		padding: 0;
	}
</style>
