---
import { FaPlay, FaPause } from 'react-icons/fa';

interface Props {
	title: string;
	author: string;
	source: string;
	img: string;
}

const { title, author, source, img } = Astro.props;
---

<div class="link-card">
	<div id="song" data-source={source}>
		<div id="imgPlay" style="position: relative;">
			<img src={img}>
			<button id="playButton"><FaPlay /><FaPause /></button>
		</div>
		<div id="info">
			<h2>{title}</h2>
			<p>{author}</p>
		</div>
	</div>
</div>
<script>
	const audio = document.querySelector('audio');
	const playButtons = document.querySelectorAll('#playButton');
	playButtons.forEach(child => {
		let firstChild = child.firstChild as HTMLElement;
		let lastChild = child.lastChild as HTMLElement;
		if(audio?.paused) {
			firstChild.style.display = "block";
			lastChild.style.display = "none";
		}
		else{
			firstChild.style.display = "none";
			lastChild.style.display = "block";
		}
	});

</script>
<style>
	#info{
		text-align: center;
	}
	.link-card {
		display: flex;
		flex-direction: column;
		border-radius: 8px;
		max-width: 24ch;
		width: 100%;
		transition: 20s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	#song {
		padding: 1.5rem;
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: none;
		transition: background-color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		font-family: inherit;
		cursor: pointer;
	}
	#playButton {
		position: absolute;
		visibility: hidden;
		font-size: 1.5rem;
		bottom: calc(0.5vh + 0.5vw);
		right: calc(0.5vh + 0.5vw);
		z-index: 10;
		color: white;
		transition: background-color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		font-family: inherit;
		cursor: pointer;
		border: none;
		background-color: inherit;
		padding: 0;
		overflow: hidden;
	}
	#song:is(:hover, :focus-within) #playButton {
		visibility: visible;
	}
	.link-card:is(.active) #playButton {
		visibility: visible;
	}
	svg {
		clip-path: circle(50% at 50% 50%);
		box-shadow: 1rem 1rem 0rem black;
		background-color: rgb(146,75,236);
		color: white;
		padding: 1rem;
		height: max-content;
		width: max-content;
	}
	div{
		display: flex;
		flex-direction: column;
	}
	img{
		width: 100%;
		height: 100%;
		border-radius: 0.5rem;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:is(:hover) {
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover) h2 {
		color: var(--accent-light);
	}
	.active{
		color: var(--accent-light) !important;
		background: var(--accent-gradient) !important;
		border: 1px solid white;
	}
</style>